.App {
  text-align: center;
}

.App-logo {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  text-align: center;  
}

@media screen and (max-width: 415px) {
  .App {
    text-align: center;
  }
  
  .App-logo {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;  
  }
}