.title_result {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

.results {
    text-align: center;
    padding-left: 0px;
}

.link {
    color: #4843a1;
}

@media screen and (max-width: 415px) {
    .title_result {
        margin-top: 3em;
    }
    
    .results {
        padding-left: 1em;
        padding-right: 1em;
    }
}